<div>
  <h2>Demo_App_Development By Nagarjuna Reddy Mandati</h2>
  <h3>Technologies Used</h3>
  <ul>
    <li>Angular</li>
    <li>Spring-Boot</li>
    <li>MySql</li>
    <li>Bootstrap</li>
  </ul>
  <h3>Tasks Involved</h3>
  <ol>
    <li>APIs creation trough spring</li>
    <li>Cofiguration file to Database(application.properties)</li>
    <li>Testing APIs in "POSTMAN" or "Google chrome"</li>
    <li>Creating Angular app</li>
    <li>Generating respective components for APIs and Projecting it in UI</li>
    <li>Running Angular App and Spring Application</li>
  </ol>
  <h3>Sub Tasks involved in above steps</h3>
  <ul>
    <li>CRUD Operations</li>
    <li>CSS for buttons</li>
    <li>Search Module Of Employee</li>
    <li>Side Bar with Many Components</li>
  </ul>
</div>