<h2>Achievements</h2>
<ol>
  <b>PAPER</b>
  <li> Presented a paper on FGM (FUNCTIONALLY GRADED MATERIALS) in QIS
    College of engineering and technology (Autonomous NAAC „A‟ grade) and secured second
    prize.</li>
  <b>CERTIFICATE</b>
  <li> I got Certificate of Recognition from “Avetti Commerce” in collaboration with
    “Mentormind.in” for completing a Menternship challenge called Built a Full Stack Web
    Application On “Rental Listings”.</li>
  <b>CNC COURSES</b>
  <li>
    <ul>
      <li>I successfully completed and certified by SIEMENS in Association with APSSDC on a
        course called “CNC - TURNING N.C.PART PROGRAMMING” held in
        VVIT Guntur College of engineering with bearing number DSL/APSSDC/14461.</li>
      <li>I successfully completed and certified by SIEMENS in Association with APSSDC on a
        course called “CNC - Basic Turning – Sinumerik Operate on machine 828d 840Dsl”
        held in
        VVIT Guntur College of engineering with bearing number
        DSL/APSSDC/21892.</li>
    </ul>
  </li>
</ol>