<h2>Projects Done</h2>
<ol>
  <li><strong>E-COMMERCE WEB APPLICATION CALLED “ ONLINE APPARELS (MYNTRA)”</strong></li>
  <ul>
    <b>Period of time</b>
    <li>: From 3 rd October 2019 to 15 th October 2019.</li>
    <b>Description</b>
    <li>: I did an online web application of online apparels which consists of ten
      categories of clothes in Shopping, by using tools of Eclipse neon 3(includes Core
      Java, HTML, CSS, Bootstrap, JSP, JSTL-tags and Servlets) & MySQL 5.7
      Database in MVC Architecture.</li>
    <b>Outcome</b>
    <li>: I used my learned technologies into reality in the form creating an online
      shopping website like “Amazon”, “Myntra”.</li>
  </ul>
  <li><strong>FULL STACK WEB APPLICATION CALLED “RENTAL LISTINGS”</strong></li>
  <ul>
    <b>Period of time</b>
    <li>: From 26 th October 2019 to 30 th November 2019.</li>
    <b>Description</b>
    <li>: I did this full stack web application by used mainly Spring-boot Frame Work
      (MVC Architecture) in addition to this I used tools of Eclipse neon 3(includes
      HTML, CSS, JavaScript, Bootstrap, JSP, JSTL-tags) & MySQL 5.7 Database.
    </li>
    <b>Outcome</b>
    <li>: It is a common platform for both Landlords and Tenants to take properties for
      rent; also I got Certificate of Recognition from “Avetti Commerce” in
      association With “Mentormind.in”.</li>

  </ul>

  <li><strong>CRASH ANALYSIS OF A FOUR-WHEEL VEHICLE</strong></li>
  <ul>
    <b>Period of time</b>
    <li>: Main project in my B. Tech final year second semester.</li>
    <b>Description</b>
    <li>: By using explicit dynamics module in ANSYS WORK BENCH 14.5, we did
      crash analysis of a car with various velocities by assigning Aluminum Alloy,
      Magnesium Alloy materials as car body and Structural Steel material as obstacle
      respectively.</li>
    <b>Role</b>
    <li>: Team Leader</li>
    <b>Team Size</b>
    <li>: 5 Members</li>
  </ul>
</ol>