<h2>TECHNICAL SKILLS</h2>
<div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Technologies</th>
        <th>Known Technologies(Skills)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>RDBMS </td>
        <td>MY SQL 5.6</td>
      </tr>
      <tr>
        <td>Languages</td>
        <td>SQL, PG/SQL, JAVA</td>
      </tr>
      <tr>
        <td>Frameworks</td>
        <td>Bootstrap, Angular 7, Spring-Boot</td>
      </tr>
      <tr>
        <td>Other Tools</td>
        <td>My SQL Workbench, Pgadmin 3 & 4, shp2pgsql, QGIS 2.12 & 3.36</td>
      </tr>
      <tr>
        <td>Internet Programming </td>
        <td>HTML, CSS, JavaScript</td>
      </tr>
      <tr>
        <td>Design Software’s </td>
        <td>Auto CAD, Pro-E (CERO), CATIA, ANSYS (basic Level)</td>
      </tr>
    </tbody>
  </table>
</div>