<h2>INTERNSHIPS</h2>
<ol>
  <li>
    <strong>I did Full Stack JAVA Developer Trainee (Intern) at Vassar Labs IT Solutions.</strong>
    <br><b>Duration:</b> 03 February 2020 to Present.
    <ul>
      <li> During this internship i learned Angular 7, Postgres sql and Tool PgAdmin 3.</li>
      <li>I Involved in Main Project called “BLUIS” and I did some tasks given by Project
        Manager.</li>
    </ul>
  </li>
  <li>
    <strong>I did Full Stack JAVA Developer Trainee Course at Talent Sprint and completed an Internship.
    </strong><br><b>Course Duration:</b> From July 2019 to September 2019.
    <ul>
      <li>I did an E-Commerce Web Application on “Online Appeals (Myntra)” offered by
        “Talent Sprint”.</li>
      <li>During this internship i used Servlets, JSPs (MVC Architecture) to buy clothes for men
        and women in online shopping website like “Amazon”, “Myntra”.</li>
      <br><b>Internship Duration:</b> From 26 th October 2019 to 30 th November 2019.
      <li>I did a Full Stack Web Application on “Rental Listings” which is a common platform for
        both Landlords and Tenants offered by “Avetti Commerce”.</li>
      <li>During this internship i used Spring-boot Frame work (MVC Architecture) to take
        properties for rent in a common platform like “99 Acres”, “Magic Bricks”.</li>
    </ul>
  </li>
</ol>